{% extends 'admin.twig' %}

{% block article %}
  {% block alert %}
    <div class="{{ message.status }}">
      {{ message.content }}
    </div>
  {% endblock %}
  <h3>
    Gestion des catégories
  </h3>

  <table>
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Nom
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <td>
            {{ category.id }}
          </td>
          <td>
            {{ category.nom }}
          </td>
          <td>
            <button class="btn-danger">
              <a href="/?action=delete_cat&cat_id={{ category.id }}">
                Supprimer
              </a>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
